<div class="col-lg-6">

<%= form_with(model: pet, local: true) do |form| %>
  <% if pet.errors.any? %>
    <div id="error_explanation">
      <h2>Faltan campos por llenar</h2>
  <% end %>
  <div class="form-group">
    <%= form.label :Nombre %>
    <%= form.text_field :name, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :Raza %>
    <%= form.text_field :race, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :'Fecha de Nacimiento' %>
    <%= form.date_select :born, class:'form-control' %>
  </div>

    <div class="form-group">
    <%= form.label :Dueño %>
    <%= form.text_field :owner, class:'form-control' %>
  </div>

    <div class="form-group">
    <%= form.label :Contacto %>
    <%= form.text_field :contact, class:'form-control' %>
  </div>

  <div class="actions form-group">
    <%= form.submit class:'form-control btn btn-dark'%>
  </div>
<% end %>

</div>
