<p id="notice"><%= notice %></p>

<h1 class="text-center">Ficha Paciente: <%= @pet.name%></h1>

<br>



<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Peso Máximo</th>
      <th>Altura Máxima</th>
      <th>Peso Promedio</th>
      <th>Altura Promedio</th>

    </tr>

  </thead>

  <tbody>

    <tr>
      <td><%= @pet.histories.maximum(:weight) %> Kg</td>
      <td><%= @pet.histories.maximum(:height) %> cms</td>
      <td><%= @pet.histories.average(:weight) %> Kg</td>
      <td><%= @pet.histories.average(:height) %> cms</td>

    </tr>

  </tbody>

</table>

<table class="table">
  <thead class="thead-dark">
    <tr>

      <th>Fecha de visita</th>
      <th>Peso</th>
      <th>Altura</th>
      <th>Notas</th>
    </tr>
  </thead>


  <tbody>
    <% @pet.histories.each do |history| %>
      <tr>

        <td><%= localize history.created_at, format: "%d de %B de %Y" %></td>
        <td><%= history.weight %> Kg</td>
        <td><%= history.height %> cms</td>
        <td><%= history.observation %></td>

      </tr>
    <% end %>
  </tbody>
</table>
